
body {
    background-color: skyblue;
}

#wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    display: block;
}

#app {
     width: 300px;
     height: 220px;
     padding: 20px;
     background-color: #CCFFFF;
     border-radius: 2px;
     margin: 0 auto;
}


